<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the visita_init() hook (in hooks/visita.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="visita-fecha-<%%VALUE(id)%%>" class="visita-fecha"><%%VALUE(fecha)%%></td>
		<td id="visita-nombre-<%%VALUE(id)%%>" class="visita-nombre"><%%VALUE(nombre)%%></td>
		<td id="visita-direccion-<%%VALUE(id)%%>" class="visita-direccion"><%%VALUE(direccion)%%></td>
		<td id="visita-latitud-<%%VALUE(id)%%>" class="visita-latitud text-right"><%%VALUE(latitud)%%></td>
		<td id="visita-longitud-<%%VALUE(id)%%>" class="visita-longitud text-right"><%%VALUE(longitud)%%></td>
